.landing {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 50px;
	font-size: 20px;
	color: black;
	background-color: #fff;
	border: none;
	border-radius: 30px;
	height: 70vh;
	padding: 30px;
}

.landing span {
	color: #3dc91a;
}

.typewriter {
	padding: 20px;
}

.typewriter h3 {
	overflow: hidden;
	border-right: 0.15em solid #3dc91a;
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: 0.15em;
	animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.login-btn {
	padding: 10px;
	background-color: #3dc91a;
	color: #fff;
	transition: ease-in-out 0.3s;
	border: none;
	border-radius: 10%;
	text-decoration: none;
}

.login-btn:hover {
	background-color: #fff;
	color: #000;
	border: 1px solid #3dc91a;
}

.login-btn a {
	text-decoration: none;
	color: #fff;
	transition: 0.3s ease-in-out;
}

.login-btn a:hover {
	color: #000;
}

.register-btn {
	padding: 10px;
	background-color: #3dc91a;
	color: #fff;
	transition: ease-in-out 0.3s;
	border: none;
	border-radius: 10%;
	text-decoration: none;
}

.register-btn:hover {
	background-color: #fff;
	color: #000;
	border: 1px solid #3dc91a;
}

.register-btn a {
	text-decoration: none;
	color: #fff;
	transition: 0.3s ease-in-out;
}

.register-btn a:hover {
	color: #000;
}
